
<div class="row">
  <div class="col-xs-12">
    <div class="navigation">
      <div class="navigation-wrapper">
        <button class="btn btn-md btn-default"><i class="fa fa-level-up" aria-hidden="true"></i></button>
        <span class="nav-button">{{curPath}} </span>
      </div>
    </div>
  </div>
</div>
