<div class="row">
  <div class="col-xs-12">
    <div class="folder-show">
      <div class="row">
        <app-folder-navigation [curPath]="pathStr"></app-folder-navigation>
        <hr>
        <app-folder-item [curFolder]="currentFolder" (onCurrentFolderChange)="currentFolderChanged($event)"></app-folder-item>
      </div>
    </div>
  </div>
</div>

