<div *ngIf="!errorMsg">
  <button
    *ngFor="let folder of curFolder.children"
    (click)="openFolder(folder)"
    style="background-color: transparent;
  border: none;">
    <div
      style="
      color:#1ab3b3;
      background-color: transparent;
      display:inline-block;">
      <span style="width:100%;height:100%;display: block"><i class="fa  fa-folder-open fa-4x" aria-hidden="true"></i></span>
      <span style="font-size:12px; color: black">{{folder.name}}</span>
    </div>
  </button>
</div>


<div class="row " *ngIf="errorMsg">
  <div class="col-xs-12">
    <div class="navigation">This folder is empty!!!</div>
  </div>
</div>

<button
  (click)="addFolder(curFolder)"
  style="background-color: transparent;
  border: none;">
  <div
    style="
      color:#1ab3b3;
      background-color: transparent;
      display:inline-block;">
    <span style="width:100%;height:100%;display: block"><i class="fa  fa-plus-square-o fa-4x" aria-hidden="true"></i></span>
    <span style="font-size:12px; color: black">Add Folder</span>
  </div>
</button>

<div id="popup1" class="overlay" *ngIf="showPopup">
  <div class="popup">
    <h2>Create Folder</h2>
    <a class="close" href="#">&times;</a>
    <div class="content">
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)] = "newFolderName" placeholder="folder name" >
      </div>
      <button class="btn btn-sm btn-success" (click)="onCreate(curFolder)">Create</button>
    </div>
  </div>
</div>


